<header class="px-4 lg:px-6 h-16 flex items-center">
  <a href="#" class="flex items-center justify-center">
    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/LOGO%20CIRCULAR%20PNG-Ef4PvdhgiPK4HiNhpdpIEvglvm0NgW.png" alt="SomoBytes Logo" class="w-12 h-12 rounded-full">
    <span class="ml-2 text-2xl font-bold">SomoBytes</span>
  </a>
</header>
